@(game: GameResponse, tokenName: String, tokenValue: String, endpoint: String)(implicit assetsFinder: AssetsFinder)
@defining(0 until game.board.nRows) { rowsRange =>
@defining(0 until game.board.nCols) { colsRange =>
@defining(game.getElapsed()) { elapsed =>

@main("Game")(Some(game.owner)) {
    <script>
    let endpoint = 'http://@endpoint/api/games/' + '@game.id';
    var timer = undefined;

    function setTimer() {
        var config = {
            'startValues': {
                'hours': @elapsed.hours,
                'minutes': @elapsed.minutes,
                'seconds': @elapsed.seconds
            }
        };
        @if(game.finished.isDefined) {
            @defining(game.totalTime) { total =>
                config = {
                    'startValues': {
                        'hours': @total.hours,
                        'minutes': @total.minutes,
                        'seconds': @total.seconds
                    }
                }
            }
        }
        timer = new easytimer.Timer(config);
        timer.addEventListener('secondsUpdated', function (e) {
            $('#timer').html(timer.getTimeValues().toString());
        });
        @if(game.finished.isEmpty) {
            timer.start();
        } else {
            console.log(timer.getTimeValues().toString());
            $('#timer').html(timer.getTimeValues().toString());
        }
        console.log(config);
    }

    function revealNewBoard(i, j) {
        let data = {"row": i, "col": j};
        $.ajax({
            url: endpoint + "/_reveal",
            type: 'PUT',
            headers: {
                'Csrf-Token': '@tokenValue'
            },
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function( result ) {
                updateBoard(result)
            }
        });
    }

    function markNewBoard(i, j) {
        let data = {"row": i, "col": j};
        $.ajax({
            url: endpoint + "/_mark",
            type: 'PUT',
            headers: {
                'Csrf-Token': '@tokenValue'
            },
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function( result ) {
                updateBoard(result)
            }
        });
    }

    function initBoard() {
        $.ajax({
            url: endpoint,
            type: 'GET',
            headers: {
                'Csrf-Token': '@tokenValue'
            },
            contentType: "application/json",
            success: function( result ) {
                updateBoard(result)
            }
        });
    }

    function updateBoard(result) {
        console.log(result);
        let cells = result.board.cells;
        var i = 0;
        for (i = 0; i < cells.length; i++) {
            updateIfNeeded(cells[i]);
        }
        if (result.board.hasWinner) {
            $('#msg').html("<strong>You WIN</strong");
            unbindCells();
            $('#status').attr("src", src='@assetsFinder.path("images/happy.svg")');
            timer.stop();
        } else if (result.board.hasLoser) {
            $('#msg').html("<strong>Game Over</strong");
            unbindCells();
            $('#status').attr("src", src='@assetsFinder.path("images/dead.svg")');
            timer.stop();
        }
    }

    function updateIfNeeded(cell) {
            let cell_id = "item-" + cell.row + "-" + cell.col;
            let elem_id = '#' + cell_id;
            let newSrc = imageName(cell);
            var change = false;
            if ($(elem_id).children('img').length == 0) {
                // console.log("first update for " + cell_id);
                change = true;
            } else {
                change = !$(elem_id).find("img:first").attr('src').endsWith(newSrc);
            }
            if (change) {
                // console.log(cell_id + " updated.");
                $(elem_id).html(imageTag(cell_id, newSrc));
                $(elem_id).find("img:first").imageScale();
            } else {
                console.log(cell_id + " omitted.");
            }
    }

    function imageTag(cell_id, newSrc) {
        let name = newSrc;
        return `<img class="scale" width="1%" height="1%" data-scale="best-fit-down" data-align="center" src='@assetsFinder.path("images/${name}")'>`;
    }

    function imageName(cell) {
        if ('mark' in cell) {
            return "" + cell.mark + ".svg";
        } else if (cell.hidden) {
            return "hidden.svg";
        } else if (cell.hasMine) {
            return "mine.svg";
        } else if (cell.number == 0) {
            return "safe.svg";
        } else {
            return "" + cell.number + ".svg";
        }
    }

    function unbindCells() {
        @for(i <- rowsRange) {
            @for(j <- colsRange) {
                $("#item-@i-@j").off();
           }
        }
    }

    $( document ).ready(function() {
        @for(i <- rowsRange) {
            @for(j <- colsRange) {
                $( "#item-@i-@j" ).click(function() {
                    revealNewBoard(@i, @j);
                });
                $( "#item-@i-@j" ).bind("contextmenu", function(e) {
                    e.preventDefault();
                    markNewBoard(@i, @j);
                    return false;
                });
            }
        }
        initBoard();
        setTimer();
    });
    </script>
<style>
.grid-container {
  display: grid;
  grid-template-columns: repeat(@game.board.nCols, 1fr);
  grid-template-rows: repeat(@game.board.nRows, 60px);
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
</style>
} {

<div class="row row-m-t">
    <div class="col-md-3 col-md-offset-1">
        <h1 id="msg">Clear the land and flag all the mines!</h1>
        <p> Use right click to put a flag.</p>
    </div>
    <div class="col-md-4">
        <img id="status"     width="20%" height="20%" src='@assetsFinder.path("images/flag.svg")'>
    </div>
    <div class="col-md-4 col-timer">
        <h1><div id="timer">00:00:00</div></h1>
    </div>
</div>

<div class="row row-m-t">
    <div class="col-*-12">
    <div class="grid-container">
        @for(i <- rowsRange) {
            @for(j <- colsRange) {
                <div class="item1" id="item-@i-@j"></div>
            }
        }
    </div>
    </div>
</div>


}{<i></i>}


}}}
